<div id="<%= dom_id guia_movimiento %>">
  <p>
    <strong>User:</strong>
    <%= guia_movimiento.user_id %>
  </p>

  <p>
    <strong>Nombre receptor:</strong>
    <%= guia_movimiento.nombre_receptor %>
  </p>

  <p>
    <strong>Email receptor:</strong>
    <%= guia_movimiento.email_receptor %>
  </p>

  <p>
    <strong>Unidad receptor:</strong>
    <%= guia_movimiento.unidad_receptor %>
  </p>

  <p>
    <strong>Observacion:</strong>
    <%= guia_movimiento.observacion %>
  </p>

</div>
