<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.nombre %>
  </p>

  <p>
    <strong>Codigointerno:</strong>
    <%= product.codigoInterno %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Stockmin:</strong>
    <%= product.stockMin %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= product.foto %>
  </p>

</div>
